/* powered by GOOGLE Webfonts */

/*
font-family: 'Fauna One', serif;
font-family: 'Codystar', cursive;
font-family: 'Kite One', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Inconsolata', sans-serif;
font-family: 'Megrim', cursive;

*/

.megrim_title{ /* h3 */
    font-family: 'Megrim', cursive;
    font-size: 28px;
}