
/*** FULL IMAGE BACKGROUND LAYOUT ***/

/* NOTE: need to set "position: relative;" for
   elements otherwise image will overlap them */
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { 
/* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

div.post_imgs{
    width: 100;
    display: inline-block; 
   /* so thumbs and main image are inline and so container expands to content*/
}

img.post_main_img{
    margin: 0 7px 7px 0;
}

/* 16:9 ratio */
img.main_img_size{
    width: 790px;
    height: 444px;
}

div.post_thumbs{
    /***NOTE: need to set float dynamically to be able to interchange it ***/
    width: 192px; /*** NOTE: must be exact to not screw up layout ***/
    /* display: inline-block; so thumbs expands to content*/
    float: right;
}

img.post_thumb_img{
    margin-bottom: 8px; /* 7px + 1px to align with main img */
    margin-top: 1px; /* to align with main img */
    height: 143px;
    /* would be 150px, but add little margin inbetween */
}

img.post_tab{
    margin-right: 7px;
    float: left; /* to wrap text around it */
}

/* SITE LOGOS */
img.site_logo{
    /* width is 170px, as 190px for column with padding */
    width: 170px;
    max-height: 60px;
}