/*
 *  site.css
 static resource to create a style sheet using the webserver for the kohana test website
 */

/* NOTE: optimized for 1680 x 1050 */

/* headers */

h1, h2 { 
    position: relative;
    font-family: Helvetica, serif;
    padding: 0 10px; /* 0 top and bottom, 10px right and left */
}


/* page setup */

/* initial pargins for everything set to 0 for wrapper */
* { margin: 0; }

html { 
    margin: 0 auto;
    height: 100%;
}

body {
    /* height 100% */
    /* NOTE ^ this screws up main container expanding with content */
    background: #FFFFFF;
    min-width: 1080px; /* defense so resizing doesnt break column layout */
/* 2x (left col + center pad (40px) + right col width + 2x (margin-left/right in container) + wanted margin inbetween cols (20px)*/
}

#page_wrapper{
    min-height: 100%;
}

#page_main{
    overflow: auto;
    /*padding-bottom: 150px;*/
   /*** must be same size as footer bottom footer ***/
}

/*** FULL IMAGE BACKGROUND LAYOUT ***/
/* NOTE: need to set "position: relative;" for
   elements otherwise image will overlap them */
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { 
/* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}



/*----- DIVISION TAGS - for column layout -----*/

/*** taken from alistapart.com/article/holygrail ***/
div {
    height: 100%;
    /* *** set header and footer height manually 
       so only container files whole page *** */
}

div#title_bar{
    height: 65px;
    background: rgba(38, 36, 36, 0.834); /* #262424/rgb(38,36,36) */
    color: #FFFFF;
}

div#login_bar{
    height: 50px;
    background: #AFAFAF; /* silver */
}

/* --- WEBPAFE FOOTER LAYOUT --- */

div#bottom_footer_bar{
    position: relative;
    /*margin-top: -150px; /* neg value for footer height */
    height: 150px;
    clear: both;
    background: rgba(38, 36, 36, 0.834); /* #262424/rgb(38,36,36) */
}

/* -------------------------------*/
div#header{
    height: 50px;
    margin: -6% 120px 6% 120px; /* -6% of page height to top to overlap on carousel */
    position: relative;
    background: rgba(38, 36, 36, 0.834); /* #262424/rgb(38,36,36) */
    color: #FFFFFF; /* text */
}

div#content_container{ /* container for columns */
    padding-left: 250px; /* left col width*/
    padding-right: 290px; /* right col + center padding */
    margin-left: 120px;
    overflow: hidden;
    margin-right: 120px;
    min-height: 100%:
    /* set min-height instead of height so if container > page height (html,body,etc.), accomidate content */
}

div#content_container .column{
    position: relative; /* helps push left column left *, wants to wrap with center */
    float: left; /* so left column doesnt wrap */
    padding-bottom: 1001em;
    margin-bottom: -1000em;
    /* NOTE ^ allows container columns to expand and grow with content */
}
div#center{
    /* FIX shadows overlap, fix later */
    padding: 10px 20px; /* 10px top and bottom, 20px left and right */
    margin: 0 0 10px 0; /* 10px bottom, 15px left and right */
    width: 100%;
    background: #AFAFAF; /* silver */
}

/* left page column */
div#left{
    width: 220px; /* left col width - padding (10px for one side) */
    /*** changing width createa margin ^ (10px) ***/
    padding: 0 0 10px 25px; /* 0 top and bottom, 10px left */
    /*** 25px left to compensate for column being cut ***/
    margin: 0 0 10px 0; /* 10px bottom, 5px left */
    right: 300px; /* pushes left from right edge of column */
    /* left col + center padding and margin */
    margin-left: -100%; /* pulls left colum so it doesnt wrap with center */
    background: rgba(38, 36, 36, 0.834); /* #262424/rgb(38,36,36) */
}

/* right page column */
div#right{
    text-align: center;
    width: 230px; /* right column width - padding 10px for one side*/
    padding: 0 0 10px 6px; /* 0 top and bottom, 6px right */
    /*** 6px left to compensate so column isnt cut***/
    margin: 0 0 10px 15px;  /* 10px bottom, 20px left */
    /*** changing left creates margin ^ ***/
    margin-right: -100%; /* pull column right, so its doesnt wrap with center*/
    background: rgba(38, 36, 36, 0.834); /* #262424/rgb(38,36,36) */
}

/*** PAGE FOOTER ***/

div#footer_navbar{
    height: 45px;
    margin: 6% 120px -6% 120px; /* bottom margin -6% to overlap carousel */
    padding: 0 20px; /* 20px right and left only */
    position: relative;
    background: rgba(38, 36, 36, 0.834); /* #262424/rgb(38,36,36) */
    clear: both;
}

div#footer_navbar ul li{
    padding-right: 1em;
    vertical-align: top;
    display: inline-block;
}

/**** FIX FOR IE6 ***/

/* hack for the negative margin that breaks layout in IE, 
pushes left from left edge right (width of right column) */
* html div#left{
    left: 220px;
}

* html body{
    overflow: hidden;
}

/* hack so background of columns don't spill into footer in IE6 */
*html #footer-wrapper{
    position: relative;
    float: left;
    width: 100%;
    height: 50px;
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    background: #726E6D;
    /* needs to be same as body background */
}

/*----- DIVISION TAGS END -----*/

ul {
     list-style: none; 
     padding: 1em 0; 
   }

/* PARAGRAPHS */

p {
    font-family: Arial, Helvetica, serif;
    color: #FFFFFF;
    margin: 10px,10px,0,0;
    padding: 10px;
}

p#outter{
    /* outter columns */
    color: #000000;
}

.carousel_top_atr{
    margin: 20px 0 0 0; /* top margin 20px */
}

.carousel_bot_atr{
    margin: 0 0 20px 0; /* bottom margin 20px */
    /*** NOTE: 5% top margin to pull in place as has to come
	 before footer in html due to framework constraints ***/
}

/*----- CLASSES -----*/

.leftcol-inner-shading{
    /* kits for most browsers, except IE */
    -moz-box-shadow: inset -6px 0 5px -5px #000000, inset 5px 0 5px -5px #000000; 
    -webkit-box-shadow: inset -7px 0 5px -5px #000000, inset 5px 0 5px -5px #000000;
    box-shadow: inset -6px 0 5px -5px #000000, inset 5px 0 5px -5px #000000;
    /* use of negative spread to hide the shadows */
}

.rightcol-inner-shading{
    /* kits for most browsers, except IE */
    -moz-box-shadow: inset 6px 0 5px -5px #000000, inset -5px 0 5px -5px #000000;
    -webkit-box-shadow: inset 7px 0 5px -5px #000000, inset -5px 0 5px -5px #000000;
    box-shadow: inset 6px 0 5px -5px #000000, inset -5px 0 5px -5px #000000;
    /* use of negative spread to hide the shadows */
}

.centrecol-outter-shading{
    /* kits for most browsers, except IE */
    -webkit-box-shadow: 8px -6px 5px -5px #000000, -8px -6px 5px -5px #000000;
    -moz-box-shadow: 8px -6px 5px -5px #000000, -8px -6px 5px -5px #000000;
    box-shadow: 8px -6px 5px -5px #000000, -8px -6px 5px -5px #000000;
    /* right and left shadow added for corners */
}

.inner-shading{
    /* kits for webkit and mozilla browswers */
    -webkit-box-shadow: inset 0 0 10px #000000;
    -moz-box-shaodw: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    /* all sides */
}

.outter-shading{
    /* kits for webkit and mozilla browswers */
    -webkit-box-shadow: 6px 6px 10px -1px #000000;
    -moz-box-shadow: 6px 6px 10px -1px #000000;
    box-shadow: 6px 6px 10px -1px #000000;
    /* right, bottom only */
}

.side-shade{ /* left and right only */
    /* kits for webkit and mozilla browswers */
    -webkit-box-shadow: 6px 0px 10px -7px #000000, -6px 0px 10px -7px #000000;
    -moz-box-shaodw: 6px 0px 10px -7px #000000, -6px 0px 10px -7px #000000;
    box-shadow: 6px 0px 10px -7px #000000, -6px 0px 10px -7px #000000;
}

